/*
dark blue:rgb(61,103,141)
medium blue: rgb(95, 132, 166
light blue: rgb(147, 177, 203)
green: rgb(156, 195, 156)
*/
/*
font-family: 'Catamaran', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

h1 {
  margin-top: 0px;
  margin-right: 0px;
  padding: 5px;
  color: rgb(61,103,141);
  background-color: rgb(147, 177, 203);
}

/*********************************************************/
  /* header */
/********************************************************/

#header {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60vh;
  background-image: url("Images/DuneGrass.jpg");
  /* Create the parallax scrolling effect */
   /* background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */
  background-size: cover;
  background-position: center;
}


#greetDisplay {
  align-self: center;
  position: relative;
  top: 10%;
  z-index: 10;
  color: white;
  opacity: 0;
  animation: fade-in-out 3s infinite;
}

@keyframes fade-in-out{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#greetDisplay h1{
  font-size: 4em;
  text-decoration: none;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(61,103,141));
  width: 100%;

}

#headerLogo {
  margin: 5px;
  width: 100px;
  border-radius: 50%;
}

.iconBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  list-style: none;
}

.iconBar a {
  text-align: center;
}

.navPic {
  position: relative;
  bottom: 0px;
  width: 50px;
  margin: 5px;
  transition-property: bottom;
  transition-duration: 500ms;
}

.navPic:hover {
  bottom: 15px;
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  70% {
      bottom:10px ;
  }
  100% {
      bottom: 0px;
  }
}

/*********************************************************/
  /* About */
/********************************************************/

#about {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(61,103,141);
}

#aboutPara {
  display: flex;
  padding: 20px;
  font-size: 1.6em;
  border-radius:20px;
}

.horizontal {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white;
  height: 2px;
  width: 90%;
}

#summary {
  width: 90%;
}

#sideLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.2em;
}

#vertical {
  width: 2px;
  background-color: white;
}

#sideLists h2 {
  margin-bottom: 0px;
}

.aboutList {
  margin: 0px;
}

#resume {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

#resumeDownload {
  color: rgb(61,103,141);
  border: 3px solid rgb(61,103,141);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

#resumeDownload:hover {
  color: rgb(156, 195, 156);
  border: 3px solid rgb(156, 195, 156);
  background-color: rgb(61,103,141);
  transition-property: color background-color border;
  transition-duration: 500ms;
}

#resumeDownload:focus{
  outline: none;
}

#hobbies {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

#favoritesContainer{
  width: 90%;
  border-radius: 20px;
}

#favoritesList {
  border-radius: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;
}

#favoritesList li {
  margin:20px;
}

#favoritesList a {
  text-decoration: none;
  color: white;
  transition-property: all;
  transition-duration: 500ms;
}

#favoritesList a:hover {
  color: rgb(241,116,85);
  font-weight: 800;
}

#favoritesList b {
  color: rgb(156, 195, 156);
}

#contactsContainer {
  background-color: white;
  display: flex;
  /* justify-content: center; */
  border-radius: 20px;
  margin-bottom: 20px;
}

#contactsContainer ul {
  padding: 5px;
}

.contactPic {
  position: relative;
  bottom: 0px;
  width: 50px;
  margin: 5px;
  transition-property: bottom;
  transition-duration: 500ms;
}

.contactPic:hover {
  bottom: 15px;
}

/*********************************************************/
  /* Toolbox */
/********************************************************/
#tacklebox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(147, 177, 203);

  /* overflow: scroll; */
}

#luresShelf {

}

#luresList{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.lureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(90deg,rgb(17, 33, 15) , rgb(45, 74, 43) 2%);
  border: medium solid black;
  width: 175px;
  height: 350px;
}

.lureContainer p {
  border-radius: 20px;
  background-color: rgba(61,103,141, .8);
  padding: 6px;
  color: white;
}

.lure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 250px;
  border: 2px solid black;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.44);
}

.hook{
  margin: none;
  position: relative;
  bottom: 10px;
  right: 24px;
  background-color: none;
  width: 50px;
  height: 75px;
  border-right: 5px solid silver;
  border-bottom: 5px solid silver;
  border-radius: 0 0 40px 40px;
}

.lureLogo {
  width: 80%;
}

#Javascript {
  background-color: rgb(235,203,90);
  border-color: rgb(220,200,114);
}

#HTML {
  background-color: rgb(239,117,47);
  border-color: rgb(215,90,38);
}

#CSS {
  background-color: rgb(80,155,209);
  border-color: rgb(46,99,170);
}

#React {
  background-color: rgb(42,44,46);
  border-color: rgb(181,227,243);
}

#Redux {
  background-color: rgb(34,34,34);
  border-color: rgb(110,79,181);
}

#Node {
  background-color: rgb(63,63,53);
  border-color: rgb(102,155,79);
}

#Git {
  background-color: rgb(96, 38, 26);
  border-color: rgb(224,92,64);
}

#npm {
  background-color: white;
  border-color: rgb(189,68,62);
}

#postgresql {
  background-color: rgb(148, 173, 195);
  border-color: rgb(61,103,141);
}

#mongoDB {
  background-color: rgb(139,115,82);
  border-color: rgb(119,171,96);
}

#mapbox {
  background-color: white;
  border-color: rgb(65,105,242);
}

#surge {
  background-color: rgb(225,239,232);
  border-color:rgb(84,71,65);
}
#techPara {
  margin-top: 0px;
  margin-left: 20px;
}

#tacklebox h1 {
  margin-bottom: 0px;
}

/*********************************************************/
  /* Projects */
/********************************************************/

#coordsContainer {
  position: fixed;
  z-index: 5;
}

#projects {
  position: relative;
  padding: 0%;
  height: 100vh;
  background-image: url("Images/Charleston-Harbor-and-Approaches.jpg");
  background-position:center;
}

.project {
  margin: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  animation: pulse 3s infinite;
}

.project a {
  color: rgb(61,103,141);
  font-size: 1.5em;
  text-decoration: none;
  transition-property: all;
  transition-duration: 500ms;
  padding: 5px;
}

.project a:hover {
  color: red;
  font-weight: bold;
}
/*********************************************************/
            /* help with the pulse came from https://codepen.io/olam/pen/zcqea */
/********************************************************/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
      box-shadow: 0 0 0 20px rgba(255,0,0, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

#proj1 {
  position: absolute;
  top: 65%;
  left: 40%;
}

#proj2 {
  position: absolute;
  top:40%;
  left: 20%;
}

#proj3 {
  position: absolute;
  top: 20%;
  left: 77%;
}

#proj4 {
  position: absolute;
  top: 35%;
  left: 60%;
}

/*********************************************************/
          /* footer*/
/********************************************************/

footer {
  padding: 20px;
  background-color: rgb(95, 132, 166);
  text-align: center;
}

#logo {
  border-radius: 50%;
  width: 100px;
}

#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(61,103,141);
  color: white;
}

#copyright p {
  margin: 0px;
}

/******** for desktop monitors *******/
@media screen and (min-width: 1500px) {
  body {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

  }
}
/**************************************/
