

body {
  font-family: 'Muli', sans-serif;
}

h1 {
  text-decoration: underline;
  margin: 10px;
}

/*********************************************************/
  /* header */
/********************************************************/

#header {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 700px;
  background-image: url("https://phallphotos.files.wordpress.com/2013/08/1221.jpg");
  background-size: cover;
  background-position:top;
}

#navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 300px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  width: 100%;
}

#navBar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navPic {
  position: relative;
  bottom: 0px;
  width: 50px;
  margin: 5px;
  transition-property: bottom;
  transition-duration: 500ms;
}

.navPic:hover {
  bottom: 15px;
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  70% {
      bottom:10px ;
  }
  100% {
      bottom: 0px;
  }
}

/*********************************************************/
  /* About */
/********************************************************/

#about {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  font-size: 1.5em;
}

#aboutPara {
  font-size: 1.2em;
}

#soloPic {
  /* position: static; */
  bottom: 50px;
  float:left;
  margin: 5px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 3px 3px 4px 5px rgba(0, 0, 0, 0.44);
  }

/*********************************************************/
  /* Toolbox */
/********************************************************/
#tackleBox{
  width: 90%;
  height: 105vh;
  margin-left: 5%;
  background-color: rgb(148, 145, 148);
  overflow: scroll;
}

#luresShelf {
  height: 500px;
}

#luresList{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.lureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(45, 74, 43); */
  /* background: repeating-linear-gradient(rgb(17, 33, 15), rgb(45, 74, 43)); */
   background: repeating-linear-gradient(90deg,rgb(17, 33, 15) , rgb(45, 74, 43) 2%);
  border: medium solid black;
  width: 175px;
  height: 350px;
}

.lure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 250px;
  border: 2px solid black;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.44);
}

.hook{
  margin: none;
  position: relative;
  bottom: 10px;
  right: 24px;
  background-color: none;
  width: 50px;
  height: 75px;
  border-right: 5px solid silver;
  border-bottom: 5px solid silver;
  border-radius: 0 0 40px 40px;
}

/* .growLure{
animation-duration: 3s;
animation-name: growLure;
animation-iteration-count: 1;
}

@keyframes growLure {
  from {
    width: 100px;
    height: 250px;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.44);
  }

  to {
    width: 200px;
    height: 300px;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.44);
  }
} */

/* .lure :hover{
  animation: growLure;
}

.lure:hover{
    transition: box-shadow 3px 3px 6px 7px rgba(0, 0, 0, 0.44);
} */

.lureLogo {
  width: 80%;
}

#javascript {
  background-color: rgb(235,203,90);
  border-color: rgb(220,200,114);
}

#html {
  background-color: rgb(239,117,47);
  border-color: rgb(215,90,38);
}

#css {
  background-color: rgb(80,155,209);
  border-color: rgb(46,99,170);
}

#react {
  background-color: rgb(42,44,46);
  border-color: rgb(181,227,243);
}

#redux {
  background-color: rgb(34,34,34);
  border-color: rgb(110,79,181);
}

#node {
  background-color: rgb(63,63,53);
  border-color: rgb(102,155,79);
}

#git {
  background-color: rgb(96, 38, 26);
  border-color: rgb(224,92,64);
}

#npm {
  background-color: white;
  border-color: rgb(189,68,62);
}

#postgresql {
  background-color: rgb(148, 173, 195);
  border-color: rgb(61,103,141);
}


/*********************************************************/
  /* Projects */
/********************************************************/

#projects {

  width: 90%;
  height: 100vh;
  margin-left: 5%;
  background-image: url("http://24066-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/08/11521-Charleston-Harbor-and-Approaches.jpg");
  background-position:center;
}

.project {
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  animation: pulse 3s infinite;
}

/*********************************************************/
            /* help with the pulse came from https://codepen.io/olam/pen/zcqea */
/********************************************************/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
      box-shadow: 0 0 0 20px rgba(255,0,0, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

#proj1 {
  position:relative;
  top: 60%;
  left: 40%;
}

#proj2 {
  position:relative;
  top:10%;
  left: 20%;
}

#proj3 {
  position:relative;
  top: 10%;
  left: 80%;
}

#proj4 {
  position:relative;
  top: 30%;
  left: 60%;
}
